/* app css */
*:focus {
  outline: none;
  border: none;
}
*:hover {
  outline: none;
  border: none;
}
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #09041d;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  text-decoration: none;
  outline: none;
}

#hideForm {
  display: none;
}

/* page wrapper */
#home {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 2em;
}

/* avatar picture */
#okerekeAvatar {
  height: 23vh;
  width: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./assets/okerekeAvatar1.png);
  animation-name: toggleAvatar;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
  margin-top: 0;
}
/* avatar mouth changing affect */
@keyframes toggleAvatar {
  10% {
    background-image: url(./assets/okerekeAvatar3.png);
  }
  20% {
    background-image: url(./assets/okerekeAvatar2.png);
  }
  30% {
    background-image: url(./assets/okerekeAvatar1.png);
  }
  40% {
    background-image: url(./assets/okerekeAvatar4.png);
  }
  50% {
    background-image: url(./assets/okerekeAvatar5.png);
  }
  60% {
    background-image: url(./assets/okerekeAvatar3.png);
  }
  70% {
    background-image: url(./assets/okerekeAvatar2.png);
  }
  80% {
    background-image: url(./assets/okerekeAvatar1.png);
  }
  90% {
    background-image: url(./assets/okerekeAvatar4.png);
  }
  100% {
    background-image: url(./assets/okerekeAvatar5.png);
  }
}
/* bold title  (hey there am okereke) */
.textAvatar {
  text-align: center;
  margin-top: 0.5em;
  font-size: 2.8em;
  color: #b2c4ce;
  font-weight: bolder;
  height: 5em;
}
/* text with typing animation */
.textAvatar span {
  font-weight: lighter;
  color: #b2c4ce;
  font-size: 1em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* explore button */
.exploreButton {
  animation-name: exploreButton;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
  margin-top: 0.5em;
  margin-bottom: -1.5em;
  background-color: #2d12c5;
  color: #ffffff;
  font-weight: 900;
  --width: 130px;
  --height: calc(var(--width) / 3);
  width: var(--width);
  height: var(--height);
  text-align: center;
  line-height: var(--height);
  font-size: calc(var(--height) / 2.5);
  font-family: sans-serif;
  letter-spacing: 0.2em;
  border-radius: 2em;
  position: relative;
  overflow: hidden;
  text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 0 0 5px rgba(0, 0, 0, 0.2);
  transform: perspective(500px) rotateY(45deg);
}
/* hidden white background on explore button */
.exploreButton::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent, #ffffff, transparent);
  left: -100%;
  transition: 0.5s;
}
/*explore button white  slide effect */
.exploreButton:hover::before {
  left: 50%;
}
/* explore button rotation effect 
@keyframes exploreButton {
  0% {
    transform: perspective(500px) rotateY(-45deg);
  }

  50% {
    transform: perspective(500px) rotateY(45deg);
  }
}  */
/* alignment of avatar picture to fit smallar screens (personal preference, not important) */
@media only screen and (max-height: 440px) {
  #home {
    margin-top: 0;
  }
}

/* media queries for desktop view */
@media screen and (min-width: 749px) {
  /* bold title  (hey there am okereke) */
  .textAvatar {
    font-size: 3vw;
  }
  /* avatar picture */
  #okerekeAvatar {
    height: 30vh;
    width: 100%;
    margin-top: 0;
  }
  /* explore button */
  .exploreButton {
    margin-top: -3em;
    --width: 150px;
  }
}

/* ------------------------------resume */
/* main heading */
h2 {
  font-size: 2em;
  color: #36627c;
  color: #b2c4ce;
}

/* smaller headings eg @certifications section */
h5 {
  margin-top: -1em;
}
/* line under h2 */
h2 hr {
  margin-top: 1px;
  width: 2em;
  background-color: #20688f;
  height: 1px;
  border: none;
}
/* descriptive text with bullet */
ul {
  margin-right: 1em;
  text-align: justify;
}

/* main page wrapper */
#resume {
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -2em;
  text-align: center;
  /*  color: #36627c; */
  color: #b2c4ce;
  font-size: 1em;
}

/* box wrapper used @ many instances */
.box {
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  text-align: justify;
  text-align: center;
}

/* sections */
.educationContent,
.certificationsContent,
.summaryContent {
  margin-top: 1.5em;
}

/* text under summary  */
.summaryContent p {
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
  text-indent: 1em;
}

/* Experience*/
.logoName {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 5em;
  align-items: center;
  margin-left: 0.4em;
}
.logoName span {
  font-size: 1.5em;
}

/* Certifications  */
.certImage1,
.certImage2,
.certImage3,
.certImage4,
.certImage5,
.certImage6,
.certImage7,
.certImage8 {
  width: 18em;
  height: 15em;
  margin-top: -1em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.certImage1 {
  background-image: url(https://i.ibb.co/6w3TgBh/responsive-web-design.png);
}
.certImage2 {
  background-image: url(https://i.ibb.co/QDvcCTG/Javascript-Algorithm.png);
}
.certImage3 {
  background-image: url(https://i.ibb.co/F5rvq5Y/google-analytics.png);
}
.certImage4 {
  background-image: url(https://i.ibb.co/TrX2dV9/seo-foundations.png);
}
.certImage5 {
  background-image: url(https://i.ibb.co/fxZkcB4/react-certificate.jpg);
}
.certImage6 {
  background-image: url(https://i.ibb.co/JnmQ9S2/Java-Script-certificate.jpg);
}
.certImage7 {
  background-image: url(https://i.ibb.co/mF8BrxC/CSS-certificate.jpg);
}
.certImage8 {
  background-image: url(https://i.ibb.co/ccZwMHq/HTML-certificate.jpg);
}
/* individual cert box wrapper */
.certBox {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
  background-color: #0e0413;
}
.certBox h5 {
  margin-top: 0;
}
/* box containers from various sections */
.upworkLogo,
.weasleyLogo,
.gdgLogo,
.imsuLogo,
.sololearnLogo,
.fccLogo,
.llLogo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 5em;
  height: 5em;
}
.upworkLogo {
  background-image: url(./assets/upworkLogo.png);
}
.weasleyLogo {
  background-image: url(./assets/weasleyLogo.jpg);
}
.gdgLogo {
  background-image: url(./assets/gdgLogo.png);
}
/* Education subheading */
.imsuLogo {
  background-image: url(./assets/imsuLogo.png);
}
.sololearnLogo {
  background-image: url(./assets/sololearnLogo.png);
}
.fccLogo {
  background-image: url(./assets/fccLogo.png);
}
.llLogo {
  background-image: url(./assets/llLogo.png);
}
/* resume download button */
.resumeDownload {
  margin-top: 1em;
  margin-bottom: 3em;
  background-color: #090236;
  border: none;
  border-radius: 0.5em;
  color: #ffffff;
  padding: 0.3em;
  font-size: 1.2em;
  cursor: pointer;
}
.resumeDownload:hover {
  background-color: #01090e;
}
/* Bottom Button styling */
.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

/* Next and Prev Buttons on the bottom */
.prevButton,
.nextButton {
  animation-name: button;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
  margin-top: 0.5em;
  background-color: #2d12c5;
  color: #ffffff;
  font-weight: 900;
  --width: 100px;
  --height: calc(var(--width) / 3);
  width: var(--width);
  height: var(--height);
  text-align: center;
  line-height: var(--height);
  font-size: calc(var(--height) / 2.5);
  font-family: sans-serif;
  letter-spacing: 0.2em;
  border-radius: 2em;
  position: relative;
  overflow: hidden;
  text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 0 0 5px rgba(0, 0, 0, 0.2);
  transform: perspective(500px) rotateY(-45deg);
}

.nextButton::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent, #ffffff, transparent);
  left: -100%;
  transition: 0.5s;
}
.prevButton::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent, #ffffff, transparent);
  left: -100%;
  transition: 0.5s;
}

.nextButton:hover::before {
  left: 50%;
}

.prevButton:hover::before {
  left: 50%;
}

@keyframes button {
  0% {
    transform: perspective(500px) rotateY(-45deg);
  }

  50% {
    transform: perspective(500px) rotateY(45deg);
  }
}

/* media queries for desktop screen */
@media screen and (min-width: 749px) {
  /* main page wrapper */
  #resume {
    margin-top: -5em;
  }
  /* summary section*/
  .summaryContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80em;
    min-height: auto;
  }
  /* text under summary  */
  .summaryContent p {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 60vw;
    font-size: 1.8em;
    margin-top: 0;
  }

  /* experience section */
  .experienceContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80em;
    min-height: auto;
  }

  /* text inside experience box */
  .experienceContent .box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 60vw;
    font-size: 1.5em;
  }
  /* education section */
  .educationContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80em;
    min-height: auto;
  }
  .educationContent .box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 60vw;
    font-size: 1.5em;
  }

  /* certification content */
  .certificationsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80em;
    min-height: auto;
  }
  .certificationsContent .box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 60vw;
    font-size: 1.5em;
  }
  .certBox {
    width: 28vw;
    height: 28vw;
    overflow-x: hidden;
  }

  /* resume download button */
  .resumeDownload {
    margin-top: 0;
    padding: 0.5em;
    font-size: 2em;
  }

  /* Next and Prev Buttons wrapper on the bottom */

  .buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30em;
  }
  .prevButton,
  .nextButton {
    --width: 150px;
  }
}
/* page wrapper */
#skills {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #36627c;
  font-size: 1em;
  margin-top: -2em;
}
/* header and header line*/
h2 {
  font-size: 2em;
}
h2 hr {
  margin-top: 1px;
  width: 2em;
  background-color: #20688f;
  height: 1px;
  border: none;
}

/* sections - skills, Values, recommendations */
.skillsContent,
.valuesContent,
.recommendContent {
  margin-top: 1em;
}

/* box wrapper */
.logoWrap {
  height: auto;
  display: flex;
  flex-flow: row wrap;
}

/* individual boxes */
.logoBox {
  width: 8em;
  margin: 1em;
  overflow-wrap: break-word;
  text-align: center;
}
.logoBox:hover {
  transform: scale(1.1);
}

/* picture boxes - icons & other formats */
.logoPic,
.jsx,
.googleA,
.seo,
.photoshop,
.responsivePic,
.fastPic,
.simplePic,
.dynamicPic {
  width: 8em;
  height: 7em;
}

/* icons that are pictures */
.jsx,
.googleA,
.seo,
.photoshop,
.responsivePic,
.fastPic,
.simplePic,
.dynamicPic {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.jsx {
  background-image: url("https://cdn0.iconfinder.com/data/icons/file-formats-flat/512/jsx-512.png");
}
.googleA {
  background-image: url("https://cdn.worldvectorlogo.com/logos/google-analytics-4.svg");
}
.seo {
  background-image: url(https://www.svgrepo.com/show/220473/seo.svg);
}
.photoshop {
  background-image: url(https://www.photoshop.com/en/images/apps/photoshop.png);
}

/* Values section - illustration boxes and picture urls */

/* short descriptive text */
.valuesContent span {
  /*  color: #36627c; */
  color: #b2c4ce;

  font-size: 1.3em;
}
.responsivePic {
  background-image: url(./assets/responsive.svg);
}
.fastPic {
  background-image: url(./assets/fast.svg);
}
.simplePic {
  background-image: url(./assets/simple.svg);
}
.dynamicPic {
  background-image: url(./assets/dynamic.svg);
}

/* icons from font-awesome */
.fa-html5 {
  color: #da6213;
}
.fa-css3-alt {
  color: #3315db;
}
.fa-js-square {
  color: #fffb05;
}
.fa-react {
  color: #3da3bd;
}
.fa-git-alt {
  color: #c43e1c;
}
.fa-github {
  color: #ffffff;
}
.fa-npm {
  color: #dd1e1e;
}

/* icons from devIcons */
.devicon-redux-original,
.devicon-babel-plain,
.devicon-illustrator-plain,
.devicon-webpack-plain,
.devicon-jquery-plain,
.devicon-sass-original {
  font-size: 7em;
}

/* horizontal ine */
span hr {
  background-color: #20688f;
  height: 1px;
  border: none;
}

/* media queries for desktop view */
@media screen and (min-width: 749px) {
  /* page wrapper */
  #skills {
    margin: auto;
  }
  /* section title */
  h2 {
    font-size: 4em;
    text-align: center;
    width: 20em;
    margin-bottom: 0;
    margin-top: 0;
  }
  /* skill section wrapper */
  .skillsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80em;
    min-height: auto;
  }
  /* overall logo wrap */
  .logoWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80vw;
    font-size: 1.5em;
  }

  /* logowrapper in values section */
  .valuesContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80em;
    min-height: auto;
  }
  .valuesContent .logoWrap {
    width: 80vw;
  }
}

.links {
  width: 100vw;
  color: #fff;
}
.logo-wrapper {
  display: flex;
  justify-content: space-around;
}
.zuri,
.hng {
  height: 5em;
  width: 10em;
  background-repeat: no-repeat;
  background-size: contain;
}
.zuri {
  background-image: url(./assets/zuri-i4g.png);
}
.hng {
  background-image: url(./assets/hng.png);
}
.link-wrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3em;
}

.link-wrapper a {
  color: rgb(0, 129, 250);
  font-size: 1.3em;
  text-decoration: underline;
}
.lasth1 {
  margin-top: -1em;
}

.application {
  color: #fff;
  text-align: center;
}

@media screen and (min-width: 765px) {
  .zuri,
  .hng {
    height: 10em;
    width: 15em;
  }

  .link-wrapper a {
    font-size: 1.5em;
  }
}
